.search-field {
	padding-left: 32px;
	height: 40px;
	width: 70%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px grey;
	font-size: 16px;
	border-radius: 5px;
	font-weight: 500;
	margin-bottom: 12px;
}

.search-results {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	width: 285px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-bottom: 1px grey solid;
	border-left: 1px grey solid;
	border-right: 1px grey solid;
	background-color: #FAFAFA;
}

.spinner {
	height: 38px;
	margin-top: -54px;
	position: absolute;
	margin-right: 12%;
	right: 0;
}

.search-container {
	overflow-y: scroll;
	height: 230px;
}
.no-results {
	padding-left: 32px;
	height: 150px;
	width: 70%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px grey;
	font-size: 16px;
	border-radius: 5px;
	background-color: #FAFAFA
}
.search-container > div:first-child {
	border-radius: 10px 10px 0 0;
	border: 1px grey solid;
}
.search-container > div:last-child {
	border-radius: 0 0 10px 10px;
}
