.no-results-heading {
	color: #F35E60;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 22px;
}

.no-results-box {
	width: 200px;
}

.no-results-text {
	text-align: center;
	font-size: 17px;
	font-weight: 600;
}